<!-- templates/fragments/sidebar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <!-- Definindo o fragmento "sidebar" -->
    <aside id="sidebar" th:fragment="sidebar">
      <div class="d-flex">
        <!-- +Logo+ -->
        <div class="sidebar-logo">
          <a href="#">Bem vindo, Usuario</a>
        </div>

        <!-- Botão para exibir/esconder a sidebar -->
        <button id="toggle-btn" type="button">
          <i class="uil uil-angle-left-b"></i>
        </button>
      </div>

      <!-- Sidebar Nav -->
      <ul class="sidebar-nav">
        <!-- Link com dropdown "Meu Perfil" -->
        <li class="sidebar-item">
          <a
            href="#"
            id="dropdown-link"
            class="sidebar-link has-dropdown collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#dropdown-profile"
            aria-expanded="false"
            aria-controls="dropdown-profile"
          >
            <i class="uil uil-user"></i>
            <span>Meu Perfil</span>
          </a>
          <!-- Dropdown -->
          <ul
            id="dropdown-profile"
            class="sidebar-dropdown list-unstyled collapse"
            data-bs-parent="#sidebar"
          >
            <li class="sidebar-item">
              <a href="meu-perfil-configuracoes.html" class="sidebar-link">
                <div class="dropdown-link">
                  <i class="uil uil-setting"></i>
                  <span>Configurações</span>
                </div>
              </a>
            </li>
          </ul>
        </li>

        <!-- Link com dropdown multi-nível "Cadastro" -->
        <li class="sidebar-item">
          <a
            href=""
            id="multi-link"
            class="sidebar-link has-dropdown collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#multi"
            aria-expanded="false"
            aria-controls="multi"
          >
            <i class="uil uil-plus"></i>
            <span>Cadastro</span>
          </a>

          <!-- Dropdown multi-nível -->
          <ul
            id="multi"
            class="sidebar-dropdown list-unstyled collapse"
            data-bs-parent="#sidebar"
          >
            <!-- Link Nivel 01: Transportadora -->
            <li class="sidebar-item">
              <a
                href="cadastro_transportadora.html"
                class="sidebar-link"
              >
                <div class="dropdown-link">Transportadora</div>
              </a>
            </li>
            <!-- Link Nivel 01: Usuário -->
            <li class="sidebar-item">
              <a href="cadastro_usuario.html" class="sidebar-link">
                <div class="dropdown-link">Usuario</div>
              </a>
            </li>
            <!-- Link Nivel 01: Novo Vínculo -->
            <li class="sidebar-item">
              <a
                href="vinculo_usuario_transportadora.html"
                class="sidebar-link"
              >
                <div class="dropdown-link">Novo Vínculo</div>
              </a>
            </li>
          </ul>
        </li>

        <!-- Link com dropdown multi-nível "Ferramentas" -->
        <li class="sidebar-item">
          <a
            href=""
            id="multi-link-01"
            class="sidebar-link has-dropdown collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#multi-01"
            aria-expanded="false"
            aria-controls="multi-01"
          >
            <i class="uil uil-constructor"></i>
            <span>Ferramentas</span>
          </a>
          <!-- Dropdown multi-nível -->
          <ul
            id="multi-01"
            class="sidebar-dropdown list-unstyled collapse"
            data-bs-parent="#sidebar"
          >
            <!-- Link Nivel 01 com dropdown "Consultar" -->
            <li class="sidebar-item">
              <a
                href="#"
                class="sidebar-link collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#multi-consultar"
                aria-expanded="false"
                aria-controls="multi-consultar"
              >
                <div class="dropdown-link">Consultar</div>
              </a>
              <!-- Link Nivel 02 -->
              <ul
                id="multi-consultar"
                class="sidebar-dropdown list-unstyled collapse"
              >
                <li class="sidebar-item">
                  <a href="consulta_vinculo_usuario_transportadora.html" class="sidebar-link">
                    <div class="dropdown-link-01 text-wrap">Consulta Vínculo Usuário Transportadora</div>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a href="consulta_licenciamento.html" class="sidebar-link">
                    <div class="dropdown-link-01">Consulta Licenciamento</div>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Link Nivel 01 com dropdown "Controlar" -->
            <li class="sidebar-item">
              <a
                href="#"
                class="sidebar-link collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#multi-controle"
                aria-expanded="false"
                aria-controls="multi-controle"
              >
                <div class="dropdown-link">Controlar</div>
              </a>
              <!-- Link Nivel 02 -->
              <ul
                id="multi-controle"
                class="sidebar-dropdown list-unstyled collapse"
              >
                <li class="sidebar-item">
                  <a href="controle_consulta.html" class="sidebar-link">
                    <div class="dropdown-link-01">Controle de Consulta</div>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a href="trabalhos_pendentes.html" class="sidebar-link">
                    <div class="dropdown-link-01">Trabalhos Pendentes</div>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a href="checklist.html" class="sidebar-link">
                    <div class="dropdown-link-01">CheckList</div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- Link simples "Opções" -->
        <li class="sidebar-item">
          <a href="opcoes.html" class="sidebar-link">
            <i class="uil uil-setting"></i>
            <span>Opções</span>
          </a>
        </li>
      </ul>

      <!-- Sidebar Footer -->
      <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
          <span class="text-uppercase">Sair</span>
          <i class="uil uil-sign-out-alt"></i>
        </a>
      </div>
    </aside>
  </body>
</html>
